.portfolio {
    padding-top: 107px;
    padding-bottom: 128px;
    background-color: #f4f8f9;
}

.portfolio--large{
    padding-top: 80px;
    padding-bottom: 94px;
}

.portfolio__heading{
    margin-bottom: 55px;
}

.portfolio__heading--center{
    text-align: center;
}

.portfolio-filter {
    margin-bottom: 45px;
}

.portfolio-filter__list {
    display: flex;
    flex-direction: row;
}

.portfolio-filter__element {

    &:not(:last-child){
        margin-right: 82px; 
    }
}

.portfolio-filter__button {
    color: #8fa5ae;
    font-family: 'MPLUS 1p', sans-serif;
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;

    &:hover, &:active{
        color: #ed574f;
    }
}

.portfolio-filter__button.filter.active{
    color: #000;
}

.portfolio__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    margin-bottom: 63px;

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.mix{
    display: none;
}

.portfolio-item__image {
    position: relative;
    width: 556px;
    height: 370px;
    display: block;
    overflow: hidden;
    margin-bottom: 27px;

    img{
        transition: all 0.7s linear; 
    }
}

.portfolio-item__image:hover > img {
    transform: scale(1.2);
  }

.portfolio-item__image--small {
    position: relative;
    width: 360px;
    height: 239px;
}

.portfolio-item__image-hover{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

	width: 100%;
    height: 100%;
   
	background-color:rgba(251, 222, 76, 0.85);
    transition: all 0.4s ease-in-out;
    
    &:hover, &:active{
        opacity: 1;
    }

    &:hover span {
        transform: translate(0px, 0px);
        transition-delay: 0.4s;
    }

    span{
        padding: 12px 24px;
        border-radius: 26px;
        border: 3px solid #ffffff;
        background-color: #ffffff;

        font-family: 'MPLUS 1p', sans-serif;
        color: #ea736d;
        font-size: 22px;
        line-height: 1;
        font-weight: 800;
        outline: none;

        transform: translate(0px, 250px);
        transition: all 0.4s ease-in-out;

        &:hover{
            border: 3px solid #ea736d;
            background-color: #ea736d;
            color: #fff;
        }

        &:active{
            border: 3px solid #d4423b;
            background-color:  #d4423b;
            color: #fff;
        }
    }
}

.portfolio-item__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
}

.portfolio-item__title--small{
    margin-bottom: 10px;
    font-size: 26px;
}

.portfolio-item__desc {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 300;
}

.portfolio-card__desc--small{
    font-size: 20px;
}